.container {
  padding-top: 24px;
}

.sub-container {
  margin: 30px 60px;
}

.delete-btn {
  cursor: pointer;
  color: #ccc
}

.delete-btn:hover {
  color: #aaa;
}

.add-btn {
  margin: 24px 12px;
}

.chart-area {
  margin-bottom: 24px;
}